@media (max-width: 480px) {
    section {
        padding: 0px;
        margin-top: 80px;
    }

    .right-content {
        width: 400px;
        height: 500px;
        margin-bottom: 10px;
    }

    .left #name {
        font-size: 2rem;
    }

    .container {
        padding: 0 10px;
    }

    .flex {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .work>div {
        max-height: 260px;
    }

    .programming {
        margin-top: 80px;
    }

    .programming .flex {
        align-items: normal;
        gap: 10px;
    }

    header nav ul li {
        margin-right: 40px;
    }

    .btn-let-talk {
        display: none;
    }

    .contact-info,
    .contact-form .form {
        max-width: 360px;
    }

    .social {
        margin: 20px auto;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .container {
        padding: 0px 10px;
    }

    #banner .flex {
        flex-direction: column;
    }

    .right {
        flex-basis: 100%;
    }

    .right-content {
        width: 990px;
        height: 800px;
    }

    .let-talk {
        display: none;
    }
}