@keyframes increaseHeight {
    0% {
        height: 0px;
    }
    100% {
        height: 200px;
    }
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    box-shadow: 0 10px 50px 0 rgba(74,144,226,.08);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

header nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: #fff; */
}

header .logo {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid;
    padding: 0 20px;
}

header nav ul {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-text);
}

header nav ul li a:hover {
    /* font-weight: bold; */
    color: var(--primary-color);
}

nav ul li a:active {
    color: var(--primary-color);
}

/* Mobile MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 300px;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  /* Hide Menu Button */
  .toggler, .hamburger {
    visibility: hidden;
}

/* BANNER SECTION */

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.left,
.right {
    flex: 1;
}

.left {
    animation: slideInFromLeft 3s ease-in;
}

.right {
    animation: slideInFromRight 3s ease-in;
}

.right-content {
    width: 100%;
    height: 600px;
    background: url(../image/me.png) no-repeat center;
    background-size: cover;
    margin-bottom: 110px;
}

.left .greeting,
.left #career {
    color: var(--dark);
    padding: 10px;
    font-size: 1.5rem;
}

.left #name {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 1.2;
}

.btn-contact,
.btn-let-talk {
    text-decoration: none;
    display: inline-block;
    padding: 15px 50px;
    background-color: var(--secondary-color);
    border-radius: 12px;
    color: #FFF;
    /* font-weight: bold; */
    cursor: pointer;
}

.btn-view-demo {
    width: 100%;
    border-radius: 12px;
    text-align: center;
}

.btn-contact:hover,
.btn-let-talk:hover {
    background-color: var(--primary-color);
    /* border: 1px solid var(--primary-color); */
    /* color: #178573; */
    /* font-weight: bold; */
}

.social {
    margin-top: 100px;
    border-top: 1px solid var(--dark);
    padding: 10px;
}

.social .social-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social a {
    color: var(--primary-text);
}

.social .line {
    width: 20px;
    height: 2px;
    background-color: var(--primary-text);
}

/*---------------- ABOUT SECTION ----------------*/

#about h1::before, #project h1::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: var(--primary-color);
    top: 3px;
    right: 5px;
    position: relative;
}

#about h1 #me {
    color: var(--primary-color);
}

.edu-ex {
    padding-top: 50px;
}

.edu-ex .flex {
    flex-wrap: wrap;
}

.work>div {
    flex: 1 1 500px;
    height: 300px;
    padding: 20px;
}

.sub-icon>span {
    position: relative;
}

.edu-work-icon::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 200px;
    position: absolute;
    left: 20px;
    top: 45px;
    background-color: var(--primary-color);
    animation: increaseHeight 2s ease forwards;
}

.duration {
    display: inline-block;
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 30px;
    margin-bottom: 15px;
}

.description {
    margin-left: 3.25rem;
}

.description p:nth-child(3) {
    margin-top: 10px;
}

.description p:last-child {
    margin-top: 10px;
}

/* Programming Skills Section */

.programming {
    padding-top: 50px;
}

.programming .flex {
    gap: 70px;
}

.skills>div {
    flex: 1;
}

.skill-main {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .skill-main .skill-wrrap {
    margin-bottom: 20px;
  }
  
  .skill-main .skill-wrrap .skill-name {
    color: var(--primary-text);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .skill-main .skill-wrrap .skill-bar {
    height: 16px;
    background-color: #ccc;
    border-radius: 8px;
  }
  
  .skill-main .skill-wrrap .skill-per {
    height: 16px;
    background: #178573;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
  }
  
  .skill-main .skill-wrrap .skill-per:before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #23576f;
    color: #fff;
    font-size: 11px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-main .skill-wrrap .skill-per:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #23576f;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }

/* PROJECT SECTION */

#project {
    width: 100%;
}

.row,
.row>.column {
  padding: 8px;
}

.column {
  display: none;
  width: 32%;
  padding: 10px;
}

.show {
  display: block;
}

.btn.active {
  background-color: var(--primary-color);
  font-weight: bold;
}

#tabs {
  margin: 50px auto;
  text-align: center;
}

/* BLOG SECTION */

#blog {
    height: 100vh;
}

/* CONTACT SECTION */
#contact {
    margin-bottom: 100px;
}

#contact .flex>div {
    flex: 1;
}

.social-links span {
    padding-right: 10px;
}

.contact-form {
    /* background-color: var(--light); */
    color: var(--dark);
    height: 650px;
}

.contact-form .form {
    width: 500px;
    height: 600px;
    margin: 10px;
    padding: 50px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3), 2px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

form input[type="text"],
form input[type="email"] {
    /* font-family: 'Space Mono', monospace; */
    font-family: 'Poppins', sans-serif;
    border: none;
    background: none;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
    border-color: var(--primary-color);
    outline: none;
}

form textarea {
    /* font-family: 'Space Mono', monospace; */
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    background: none;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

form textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

form label {
    font-weight: 500;
}

.btn-send {
    text-decoration: none;
    padding: 10px 50px;
    width: 200px;
    height: 50px;
    background-color: var(--secondary-color);
    color: var(--light);
}

.btn-send:hover {
    background-color: var(--primary-color);
}

/* FOOTER SECTION */
footer {
    background-color: var(--primary-color);
    height: 300px;
    text-align: center !important;
    color: var(--light);
    padding: 100px 0;
}

footer p {
    text-align: center !important;
}

.btn-top {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-text);
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.copy-right {
    margin-top: 20px;
}

.icon-white {
    font-size: 32px;
    margin-right: 20px;
}

/* Toggle Switch */

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: var(--secondary-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--secondary-color);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}