header nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header nav .logo-name {
    letter-spacing: 3px;
}

header nav ul{
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin-right: 76px;
    list-style: none;
}

header nav ul li a {
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
}

header nav ul li a:hover{
    font-weight: bold;
}

.logo {
    text-decoration: none;
    color: var(--dark-green);
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: bold;
}

.flex-item {
    flex: 1;
    /* margin: 20px 30px; */
    align-self: center;
}

.left .greeting, .left #career {
    color: var(--black);
    padding: 10px;
    font-size: 1.5rem;
}

.left #name {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--dark-green);
    line-height: 1.2;
}

.btn-contact, .btn-let-talk {
    text-decoration: none;
    display: inline-block;
    padding: 15px 50px;
    background-color: var(--medium-sea-green);
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}

.btn-contact:hover, .btn-let-talk:hover {
    background-color: #fff;
    border: 1px solid var(--dark-green);
    color: #178573;
    font-weight: bold;
}

.right {
    width: 100vw;
    height: 100vh;
    margin-top: 200px;
}

.social {
    margin-top: 200px;
    border-top: 1px solid var(--black);
    padding: 10px;
}

.social div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5px;
}

.social a {
    color: var(--black);
}

.social .icon {
    width: 50px;
    height: 50px;
    font-size: 32px;
}

.social .line {
    width: 20px;
    height: 2px;
    background-color: var(--black);
}

/*---------------- ABOUT SECTION ----------------*/

#about {
    padding: 100px 0;
    margin: 0 auto;
    width: 1100px;
}

#about h1 {
    /* text-align: center; */
}

#about h1::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: var(--dark-green);
    top: 3px;
    right: 5px;
    position: relative;
}

#about h1 #me {
    color: var(--dark-green);
}

#about .profile {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#about .profile div {
    width: 400px;
}

.edu-ex .work{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work div {
    width: 500px;
    height: 500px;
    position: relative;
    top: 50px;
}

